:root {
  --main-color: white;
  --second-color: #f1f2f5;
  --third-color: #0a7ea3;
  --fourth-color: #026688;
  --font-light-color: #c3c6d1;
  --font-dark-color: #3f4756;
}

.App {
  min-height: 100vh;
  text-align: center;
  background: var(--second-color);
}

p {
  margin: 0;
  display: inline-block;
}

h1 {
  margin: 0;
}

.third-button {
  background: none;
  border: solid 1px var(--third-color);
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;

  color: var(--third-color);

  cursor: pointer;
  transition: border ease-in-out 0.2s, color ease-in-out 0.2s,
    background ease-in-out 0.2s;
}

.third-button:hover {
  border: solid 1px var(--fourth-color);
  background: rgba(0, 0, 0, 0.018);
  color: var(--fourth-color);
}

.hyperlink-button {
  text-decoration: underline;
  color: blue;
  border: none;
  background: none;
  cursor: pointer;
  transition: color ease-in-out 0.2s;
}

.hyperlink-button:hover {
  color: rgb(0, 0, 203);
}


@keyframes vibrate {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px);}
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.vibrate-animation {
  animation: vibrate 0.5s linear;
}